.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 20px;
}

.login-card select,
.login-card button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
.login-card input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}