.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Image1.jpg");
background-size: cover;
background-position: center;
}

.login-card {
  background: rgb(96, 95, 100);
  padding: 30px;
  border-radius: 75px;
  width: 300px;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
}

.login-card select,
.login-card button {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
}
.login-card input {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
}
.login-links {
  margin-top: 15px;
  font-size: 14px;
}

.login-links p {
  margin: 5px 0;
  color: #08090b;
  cursor: pointer;
}

.login-links p:hover {
  text-decoration: underline;
}